aclocal.m4
autom4te.cache
compile
config.guess
config.status
config.sub
config.log
configure
depcomp
install-sh
missing
stamp-h1
copy
Makefile
.deps
.*.swp
*.in
*.o
*.obj
*.tar.gz
*.tar.bz2
*.tar.lzma
*.zip
*.bak
*~
tags
