aclocal.m4
autom4te.cache
compile
config.guess
copy-config.h
copy-config.h.in
config.status
config.sub
config.log
configure
depcomp
install-sh
missing
stamp-h1
copy
Makefile
Makefile.in
.deps
.*.swp
*.o
*.obj
*.tar.gz
*.tar.bz2
*.tar.lzma
*.zip
*.bak
*~
tags
